/* CSS Document */

/* font: "font-style font-variant font-weight font-size/line-height font-family" */

/**************************************
*		 GENERAL PAGE STYLES          *
**************************************/

body {
	background: url("../img/pagebg.jpg") repeat-x scroll 0 0 #e2e2e2;
}

#container {
	width: 1000px;
	overflow: auto;
	margin: auto;
}

#logo {
	background: url("../img/befinder_logo.png") no-repeat scroll center bottom transparent;
	width: 312px;
	height: 63px;
	text-indent: -9001px;
}

#input h2, #result h2 {
	border-bottom: 1px solid #296879;
	text-indent: -9001px;
	padding-bottom: 5px;
	margin-right: -11px;
}


#input {
	position: relative;
	float: left;
	width: 45%;
	margin-right: 2em;
}

#input h2 {
	background: url("../img/hdr_input.png") no-repeat scroll 0 0 transparent;
}

#result h2 {
	background: url("../img/hdr_output.png") no-repeat scroll 0 2px transparent;
}

#result {
	width: 40%;
	float: right;
	margin-right: 20px;
	padding-left: 2em;
}

#instructions {
	position: relative;
	float: left;
	margin: 0px auto;
	margin-right: 20px;
	float: left;
	width: 100%;
	color: #7a7c7c;
	font-family: sans-serif;
	font-size: 14px;
}


#source {
	width: 95%;
}

#destination {
	box-shadow: 0 4px 8px #A9A9A9;
	-moz-box-shadow: 0 4px 8px #A9A9A9;
	-webkit-box-shadow: 0 4px 8px #A9A9A9;
	background-color: transparent;
	border: 2px dashed #CCCCCC;
	height: 157px;
	margin-top: 20px;
	width: 100%;
}

.submit {
	background: url("../img/findbe_btn.png") no-repeat scroll 0 0 transparent;
	border: none;
	outline: 0;
	width: 161px;
	height: 33px;
	display: block;
	margin: 10px 0 10px auto;
	text-indent: -9001px;
	position: relative;
	left: 13px;
	float: right;
	margin-left: 5px;
}
.reset {
	background: url("../img/reset_btn.png") no-repeat scroll 0 0 transparent;
	border: none;
	outline: 0;
	width: 81px;
	height: 23px;
	display: block;
	margin: 10px 0 10px auto;
	text-indent: -9001px;
	position: relative;
	left: 13px;
	float: right;
}
/*************************/


/**************************************
*		 	WIDGET STYLES             *
**************************************/


.bee {
	/*-moz-border-radius: 5px;
	background-color: yellow;*/
	
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#F7EC92), to(#FFBE4A));
	padding: 2px;
	margin: -2px;
	box-shadow: rgba(0, 0, 0, .25) 0px 1px 0px;

}


div.wysiwyg { 
	border: 1px solid #aaabaa;
	padding: 5px;
	background-color: #fff;
	-moz-box-shadow: 0px 4px 8px #A9A9A9;
	-webkit-box-shadow: 0px 4px 8px #A9A9A9;
	box-shadow: 0px 4px 8px #A9A9A9;
	
	margin-top: 40px;
}

/*#result div.wysiwyg {
	margin-top: 63px;
}*/

.wysiwyg * {
	margin: 0;
	padding: 0;
}


.loading {
	background: url("../img/loading.gif") no-repeat scroll center transparent;
	width: 54px;
	height: 55px;
	position: absolute;
		top: 35%;
		left: 63%;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
