/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background: linear-gradient(#FFFFFF, #e2e2e2);
}

#container {
	width: 100%;
	height: 600px;
	overflow-y: hidden;
}

#logo {
	background: url("assets/befinder_logo.png");
	width: 312px;
	height: 63px;

	margin-left: 25px;
	text-indent: -9001px;
}

#input h2, #result h2 {
	border-bottom: 1px solid #296879;
	padding-bottom: 5px;

	font-family: 'Alfa Slab One', cursive;
	font-size: 1.5em;
	letter-spacing: 2px;
	color: #2c6878;
}


#input {
	position: relative;
	float: left;
	width: 45%;
	max-height: 450px;

	margin: 0px 25px;
}

#result {
	width: 40%;
	float: right;
	margin-right: 20px;
	padding-left: 2em;
}

#instructions {
	width: 900px;

	margin-left: 25px;


	color: #7a7c7c;
	font-family: sans-serif;
	font-size: 14px;
}


#source {
	width: 95%;
	min-height: 100px;
	max-height: 250px;

	border: solid 1px #000000;
	border-radius: 3px;
}

#destination {
	width: 95%;
	min-height: 100px;
	max-height: 250px;

	padding: 5px;

	overflow-y: auto;

	border: 2px dashed #CCCCCC;

	background-color: transparent;

	box-shadow: 0 4px 8px #A9A9A9;
	-moz-box-shadow: 0 4px 8px #A9A9A9;
	-webkit-box-shadow: 0 4px 8px #A9A9A9;

	&.active {
		background: #FFFFFF;
	}

	.bee {
		display: inline-block;
		border-radius: 3px;
		background: linear-gradient(#F7EC92, #FFBE4A);
		padding: 2px;
		margin: -2px;

		box-shadow: 0 4px 8px #A9A9A9;
		-moz-box-shadow: 0 4px 8px #A9A9A9;
		-webkit-box-shadow: 0 4px 8px #A9A9A9;
	}
}

.submit, .reset {
	display: block;
	position: relative;

	float: right;
	left: 13px;

	border: none;
	outline: 0;

	border-radius: 2px;

	-moz-box-shadow: 0px 4px 8px #A9A9A9;
	-webkit-box-shadow: 0px 4px 8px #A9A9A9;
	box-shadow: 0px 4px 8px #A9A9A9;

	cursor: pointer;
}

.submit {

	width: 161px;
	height: 33px;

	margin: 10px 25px 10px 5px;

	border: none;
	outline: 0;

	background: #296879;
	color: #ffffff;
	font-family: 'Alfa Slab One', cursive;
	font-size: 16px;
	letter-spacing: 2px;


}
.reset {
	width: 81px;
	height: 23px;

	margin: 10px 0px 10px auto;

	color: #ffffff;
	font-family: 'Alfa Slab One', cursive;
	font-size: 14px;
	letter-spacing: 2px;

	background: #808080;
}